<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/header-chamado.css">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="./style/style-table.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="./assets/img/Vector.svg" type="image/x-icon">
    <title>Chamados</title>
</head>
<body>
    <header>
        <a href="/"><img src="assets/img/Vector.svg" class= 'logogenie' alt="Logo - CallGenius"></a>
        <img src="assets/img/user.png" alt="Usuário" class="fotouser" id="logo-fundo-brando">
        <h2>Olá, user</h2>
        <a href="/entrar"><button><i class="fa-solid fa-arrow-right-from-bracket" alt="Sair"></i></button></a>
    </header>
    <a id="ajuda" href="#">Preciso de ajuda</a>
    <main>
        <div class="fundo">
            <div id="meus-chamados-title">
                <h2>Meus Chamados</h2>
            </div>
                <div class="filtar-e-buscar- flex-row">
                    <div class="filtrar-chamados-container">
                        <div class="filtrar">
                            <p>Filtrar por</p>
                            <i class="fa-solid fa-arrow-down"></i>
                        </div>
                        <div class="filtrar-menu">
                            <i class="fa-solid fa-x"></i>
                            <li>Em aberto</li>
                            <li>Em andamento</li>
                            <li>Concluído</li>
                            <li>Com equipamento Cadastrado</li>
                            <li>Meus chamados</li>
                            <li>Ordem Alfabética</li>
                        </div>
                    </div>
                    <div class="buscar-por-titulo">
                        <p>Buscar por título</p>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
            <div class="main-table">
                <section class="table-body">
                    <table>
                        <thead>
                            <tr>
                                <th>Título </th>
                                <th>Ordem </th>
                                <th>Data de criação </th>
                                <th>Status </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% chamados.forEach(chamado => { %>
                                <tr>
                                    <td><%= chamado.title %></td>
                                    <td><%= chamados.indexOf(chamado) + 1 %></td>
                                    <td><%= chamado.dataCriacao %></td>
                                    <td><p class="status <%= chamado.status %>"><%= chamado.status %></p></td>
                                    <td><i class="fa-solid fa-trash"></i></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </section>
                <button class="button-input">Abrir novo chamado</button>
            </div>
        </div>
    </main>
    <footer>Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
</body>
</html>
