<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/header-chamado.css">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="./style/style-table.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="../public/assets/img/Vector.svg" type="image/x-icon">
    <title>Chamado</title>
</head>
<body>
    <header>
        <a href="/"><img src="assets/img/Vector.svg" class= 'logogenie' alt="Logo - CallGenius"></a>
        <div class="header-itens-right flex">
            <img src="assets/img/user.png" alt="Usuário" class="fotouser" id="logo-fundo-brando">
            <h2>Olá, user</h2>
            <a href="/entrar"><i class="fa-solid fa-arrow-right-from-bracket" alt="Sair"></i></a>
        </div>
    </header>

    <div class="ajuda">
        <a href="#">Preciso de ajuda</a>
    </div>
    <div class="div-flex">
        <main>
            <div class="fundo-chamado-aberto div-flex">
                <!-- Os parágrafos abaixo representam variáveis! -->
                <div class="info-dispositivo">
                    <p>Título: <%= chamadoInfo.dataValues.cham_titulo %></p>
                    <p>ID: <%= chamadoInfo.dataValues.cham_id %></p>
                    <p>Data de Criação: <%= chamadoInfo.dataValues.cham_data_inicio.split(/-/)[2] %>/<%= chamadoInfo.dataValues.cham_data_inicio.split(/-/)[1] %>/<%= chamadoInfo.dataValues.cham_data_inicio.split(/-/)[0] %></p>
                    <p class="status <%= chamadoInfo.dataValues.cham_status.toLowerCase() %>">Chamado em <%= chamadoInfo.dataValues.cham_status %></p>
                </div>
                <div class="flex-row">
                    <div class="fundo-chamado-aberto coluna-esquerda">
                        <!-- Aqui será mostrado a descrição do chamado -->
                        <p><%= chamadoInfo.dataValues.cham_descricao %></p>
                    </div>
                    <div class="coluna-direita">
                        <div class="fundo-chamado-aberto">
                            <h2>Equipamento Cadastrado</h2>
                            <div class="flex-row container-nome-numero">
                                <p>Nome: </p>
                                <p>Número de série: </p>
                            </div>
                            <p class="text-center">Tipo de equipamento:</p>
                        </div>
                        <h2>Comentários</h2>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Clique aqui para adicionar um comentário ao chamado" class="fundo-chamado-aberto"></textarea>
                        <p class="text-chamado-aberto" id="prazo-text">Prazo de resposta até: <%= prazo %></p>
                        <p class="text-chamado-aberto">Agradecemos o contato, aguarde a resposta de um de nossos suportes</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer>Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
</body>
</html>
